DATABASE_URL=postgres://localhost/medusa
REDIS_URL=
COOKIE_SECRET=change_this_dev_secret
STORE_CORS=http://localhost:3000
ADMIN_CORS=http://localhost:9000
MEDUSA_PORT=9000
JWT_SECRET=supersecret
LOG_LEVEL=debug
